.root {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.parent {
    cursor: pointer;
}

.parent:hover {
    background-color: #808080;
}

.content {
    display: flex;
    align-items: center
}